<h1>Built-in attribute directives</h1>
<hr>
<h3>NgClass</h3>
<p [ngClass]="redColor ? 'redText' : '' "> To change this text color to red click the below button </p>
<button (click)="redColor = !redColor" >Red color {{redColor ? 'Off' : 'On'}}</button>

<hr>
<h3>NgStyle</h3>
<p [ngStyle]="currentStyles"> This text has the NgStyle attribute directive </p>


<hr>
<h3>NgModel</h3>
<p>{{ngModelText}}</p>
<input type="text" [(ngModel)]="ngModelText">

<hr>
<hr>
<h1>Built-in Structural directives</h1>
<h3>ngIf</h3>
<p *ngIf="displayText"> The text is being displayed </p>
<button (click)="displayText = !displayText"> {{displayText ? 'Hide' : 'Display' }} Text </button>

<hr>
<h3>ngFor</h3>
<ul>
  <li *ngFor="let number of numbers">{{number}}</li>
</ul>


<hr>
<h3>ngSwitch</h3>
<div [ngSwitch]="headerTag">
<h4 *ngSwitchCase="'h4'">The text is with h4 tag</h4>
<h5 *ngSwitchCase="'h5'">The text is with h5 tag</h5>
<h6 *ngSwitchCase="'h6'">The text is with h6 tag</h6>
</div>
<div>
  <button (click)="headerTag='h4'">h4</button>
  <button (click)="headerTag='h5'">h5</button>
  <button (click)="headerTag='h6'">h6</button>
</div>

<hr>
<hr>

<h1>Custom Attribute directives</h1>
<p appHighlight > Mouse over the text to highlight - the custom attribute directive</p>


<hr>
<h1>Custom Structural directives</h1>
<p>
  The condition is currently
  <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
  <button
    type="button"
    (click)="condition = !condition"
    [ngClass] = "{ 'a': condition, 'b': !condition }" >
    Toggle condition to {{condition ? 'false' : 'true'}}
  </button>
</p>

<p *appUnless="condition" class="unless a">
  (A) This paragraph is displayed because the condition is false.
</p>

<p *appUnless="!condition" class="unless b">
  (B) Although the condition is true,
  this paragraph is displayed because appUnless is set to false.
</p>
